extends layout

block content
    .main
    head
        meta(charset='UTF-8')
        title Artifacts
        link(rel='stylesheet', href='../css/artifacts.css')
        link(href='../css/style.css', type='text/css', rel='stylesheet', media='all')
        link(href='../css/font-awesome.min.css', rel='stylesheet')
        script(type='text/javascript', src='head.js')
    body
        .search
            .search_bar
                input.itemSearch(placeholder='Search for an artifact...')
                button(onclick='') SEARCH
                br
                br
            .btn
                button(onclick="window.open('upload.html')") UPLOAD
            .main
                -for(var i=0;i<item.length;i++)

                    .col-lg-4
                        .img-grid
                            .Portfolio-grid1
                                a(href= '#'+'gal'+i.toString())
                                    img.img-fluid(#{item[i].photo}, alt=' ')
                            .port-desc.text-center
                                h6.main-title-w3pvt.text-center #{item[i].name}
                                p #{item[i].description}


                    // popup
                    div(id='gal'+i.toString()).popup-effect.animate
                        .popup
                            img.img-fluid(#{item[i].photo}, alt='Popup Image')
                            p Name: #{item[i].name}
                            p Category: #{item[i].category}
                            p Year: #{item[i].date}
                            p Owner: #{item[i].owner}
                            p Current Keeper: #{item[i].keeper}
                            p Current Location: #{item[i].location}
                            p.editContent.mt-4
                                | Description: #{item[i].description}
                            a.close(href='#gallery')&times;
                            //form#deleteItem(name="deleteItem", method="post", action="/deleteItem")
                            //    input#input_name(type="hidden", placeholder="", name="itemName", value="a")
                            //    button#submit_project(type="submit") delete
                            //button#deleteItem(name="deleteItem", method="post", action="/deleteItem") Delete
                            //script(src='views/helperFunctions.js')
                            //button(onclick="window.deleteItem('a')", title="Delete")
                            //    |  Delete
                            //

                            script var itemID = {item[i].id}
                            button(onclick=`deleteItem(${JSON.stringify(item[i].id)})`) Delete
                                script.
                                    function deleteItem(itemID) {
                                        if (confirm("Are you sure to delete this item?")) {
                                            var xhr = new XMLHttpRequest();
                                            xhr.open("DELETE", "/deleteItem/" + itemID, true);
                                            xhr.onload = function () {
                                                var items = JSON.parse(xhr.responseText);
                                                if (xhr.readyState == 4 && xhr.status == "200") {
                                                    console.table(items);
                                                    window.location.href="artifact_test.jade";

                                                } else {
                                                    console.error(items);
                                                }
                                            }
                                            xhr.send(null);
                                        }
                                    }
