doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Family
        link(rel='stylesheet', href='../css/family.css')
        link(href='../css/style.css', type='text/css', rel='stylesheet', media='all')
        link(href='../css/font-awesome.min.css', rel='stylesheet')
        //link(rel='stylesheet', type='text/css', href='../css/profile/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../css/profile/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='../css/profile/profile-style.css')
        script(type='text/javascript', src='head.js')
    body
        .search
            .btn
                button(onclick="move()") Add Profile
                    script.
                        function move() {
                            window.location.href = '/uploadProfiles'
                        }
            .main
                .row
                    .col-md-12
                        section#cd-timeline-2.cd-container
                            -var count = profile.length
                            if count % 2 != 0
                                -for(var i=0;i+1<profile.length;i+=2)
                                    .cd-timeline-block
                                        .cd-timeline-img.cd-picture
                                            img(src='../images/arrow-down.png', alt='Picture')
                                        .cd-timeline-content.projects
                                            a(href='#' + 'gal' + i.toString())
                                                img.img-fluid(src='#{profile[i].image}', alt=' ')
                                            .project-content
                                                h2 #{profile[i].name}
                                                span #{profile[i].year}~#{profile[i].year_passed}
                                    .cd-timeline-block
                                        .cd-timeline-img.cd-picture
                                            img(src='../images/arrow-down.png', alt='Picture')
                                        .cd-timeline-content.projects
                                            a(href='#' + 'gal' + (i+1).toString())
                                                img.img-fluid(src='#{profile[i+1].image}', alt=' ')
                                            .project-content
                                                h2 #{profile[i+1].name}
                                                span #{profile[i+1].year}~#{profile[i+1].year_passed}
                                    div(id='gal' + i.toString()).popup-effect.animate
                                        .popup
                                            form#date(action='/updateProfile', method='POST')
                                                img.img-fluid(src='#{profile[i].image}', alt='Popup Image')
                                                br
                                                br
                                                video(src='#{profile[i].video}', controls width="370")
                                                p
                                                    label ProfileID:
                                                    input(value= profile[i].id, type='text', name='id',placeholder = '#{profile[i].id}')
                                                p
                                                    label Name:
                                                    input(type='text', name='name',placeholder = '#{profile[i].name}')
                                                p
                                                    label Description:
                                                    input(type='text', name='description',placeholder = '#{profile[i].description}')
                                                p
                                                    label Life story:
                                                    input(type='text', name='life_story',placeholder = '#{profile[i].life_story}')
                                                a.close(href='#gallery') ×
                                                button(id="btn1") Edit
                                            script var profileID = {profile[i].id}
                                            button(id = "btn2" onclick=`deleteProfile(${JSON.stringify(profile[i].id)})`) Delete
                                                script.
                                                    function deleteProfile(profileID) {
                                                        if (confirm("Are you sure to delete this profile?")) {
                                                            var xhr = new XMLHttpRequest();
                                                            xhr.open("DELETE", "/deleteProfile/" + profileID, true);
                                                            window.location.href = "/family";
                                                            xhr.send(null);
                                                        }
                                                    }
                                    div(id='gal' + (i+1).toString()).popup-effect.animate
                                        .popup
                                            form#date(action='/updateProfile', method='POST')
                                                img.img-fluid(src='#{profile[i+1].image}', alt='Popup Image')
                                                br
                                                br
                                                video(src='#{profile[i+1].video}', controls width="370")
                                                p
                                                    label Name:
                                                    input(type='text', name='name',placeholder = '#{profile[i].name}}')
                                                p
                                                    label Birthday:
                                                    input(type='text', name='date',placeholder = '#{profile[i].year}/#{profile[i].month}/#{profile[i].date}')
                                                p
                                                    label Description:
                                                    input(type='text', name='description',placeholder = '#{profile[i].description}')
                                                p
                                                    label Life story:
                                                    input(type='text', name='life_story',placeholder = '#{profile[i].life_story}')
                                            a.close(href='#gallery') ×
                                            button(id="btn1") Edit
                                            script var profileID = {profile[i+1].id}
                                            button(id = "btn2" onclick=`deleteProfile(${JSON.stringify(profile[i+1].id)})`) Delete
                                                script.
                                                    function deleteProfile(profileID) {
                                                        if (confirm("Are you sure to delete this profile?")) {
                                                            var xhr = new XMLHttpRequest();
                                                            xhr.open("DELETE", "/deleteProfile/" + profileID, true);
                                                            window.location.href = "/family";
                                                            xhr.send(null);
                                                        }
                                                    }
                                .cd-timeline-block
                                    .cd-timeline-img.cd-picture
                                        img(src='../images/arrow-down.png', alt='Picture')
                                    .cd-timeline-content.projects
                                        a(href='#' + 'gal' + (count-1).toString())
                                            img.img-fluid(src='#{profile[count-1].image}', alt=' ')
                                        .project-content
                                            h2 #{profile[count-1].name}
                                            span #{profile[count-1].year}~#{profile[count-1].year_passed}
                                div(id='gal' + (count-1).toString()).popup-effect.animate
                                    .popup
                                        form#date(action='/updateProfile', method='POST')
                                            img.img-fluid(src='#{profile[count-1].image}', alt='Popup Image')
                                            br
                                            br
                                            video(src='#{profile[count-1].video}', controls width="370")
                                            p
                                                label Name:
                                                input(type='text', name='name',placeholder = '#{profile[i].name}}')
                                            p
                                                label Birthday:
                                                input(type='text', name='date',placeholder = '#{profile[i].year}/#{profile[i].month}/#{profile[i].date}')
                                            p
                                                label Description:
                                                input(type='text', name='description',placeholder = '#{profile[i].description}')
                                            p
                                                label Life story:
                                                input(type='text', name='life_story',placeholder = '#{profile[i].life_story}')
                                        a.close(href='#gallery') ×
                                        button(id="btn1") Edit
                                        script var profileID = {profile[count-1].id}
                                        button(id = "btn2" onclick=`deleteProfile(${JSON.stringify(profile[count-1].id)})`) Delete
                                            script.
                                                function deleteProfile(profileID) {
                                                    if (confirm("Are you sure to delete this profile?")) {
                                                        var xhr = new XMLHttpRequest();
                                                        xhr.open("DELETE", "/deleteProfile/" + profileID, true);
                                                        window.location.href = "/family";
                                                        xhr.send(null);
                                                    }
                                                }
                            else
                                -for(var i=0;i+1<profile.length;i+=2)
                                    .cd-timeline-block
                                        .cd-timeline-img.cd-picture
                                            img(src='../images/arrow-down.png', alt='Picture')
                                        .cd-timeline-content.projects
                                            a(href='#' + 'gal' + i.toString())
                                                img.img-fluid(src='#{profile[i].image}', alt=' ')
                                            .project-content
                                                h2 #{profile[i].name}
                                                span #{profile[i].year}~#{profile[i].year_passed}
                                    .cd-timeline-block
                                        .cd-timeline-img.cd-picture
                                            img(src='../images/arrow-down.png', alt='Picture')
                                        .cd-timeline-content.projects
                                            a(href='#' + 'gal' + (i + 1).toString())
                                                img.img-fluid(src='#{profile[i+1].image}', alt=' ')
                                            .project-content
                                                h2 #{profile[i + 1].name}
                                                span #{profile[i+1].year}~#{profile[i+1].year_passed}
                                    div(id='gal' + i.toString()).popup-effect.animate
                                        .popup
                                            form#date(action='/updateProfile', method='POST')
                                                img.img-fluid(src='#{profile[i].image}', alt='Popup Image')
                                                br
                                                br
                                                video(src='#{profile[i].video}', controls width="370")
                                                p
                                                    label Name:
                                                    input(type='text', name='name',placeholder = '#{profile[i].name}}')
                                                p
                                                    label Birthday:
                                                    input(type='text', name='date',placeholder = '#{profile[i].year}/#{profile[i].month}/#{profile[i].date}')
                                                p
                                                    label Description:
                                                    input(type='text', name='description',placeholder = '#{profile[i].description}')
                                                p
                                                    label Life story:
                                                    input(type='text', name='life_story',placeholder = '#{profile[i].life_story}')
                                            a.close(href='#gallery') ×
                                            button(id="btn1") Edit
                                            script var profileID = {profile[i].id}
                                            button(id = "btn2" onclick=`deleteProfile(${JSON.stringify(profile[i].id)})`) Delete
                                                script.
                                                    function deleteProfile(profileID) {
                                                        if (confirm("Are you sure to delete this profile?")) {
                                                            var xhr = new XMLHttpRequest();
                                                            xhr.open("DELETE", "/deleteProfile/" + profileID, true);
                                                            window.location.href = "/family";
                                                            xhr.send(null);
                                                        }
                                                    }
                                    div(id='gal' + (i+1).toString()).popup-effect.animate
                                        .popup
                                            form#date(action='/updateProfile', method='POST')
                                                img.img-fluid(src='#{profile[i+1].image}', alt='Popup Image')
                                                br
                                                br
                                                video(src='#{profile[i+1].video}', controls width="370")
                                                p
                                                    label Name:
                                                    input(type='text', name='name',placeholder = '#{profile[i].name}}')
                                                p
                                                    label Birthday:
                                                    input(type='text', name='date',placeholder = '#{profile[i].year}/#{profile[i].month}/#{profile[i].date}')
                                                p
                                                    label Description:
                                                    input(type='text', name='description',placeholder = '#{profile[i].description}')
                                                p
                                                    label Life story:
                                                    input(type='text', name='life_story',placeholder = '#{profile[i].life_story}')
                                            a.close(href='#gallery') ×
                                            button(id="btn1") Edit
                                            script var profileID = {profile[i+1].id}
                                            button(id = "btn2" onclick=`deleteProfile(${JSON.stringify(profile[i+1].id)})`) Delete
                                                script.
                                                    function deleteProfile(profileID) {
                                                        if (confirm("Are you sure to delete this profile?")) {
                                                            var xhr = new XMLHttpRequest();
                                                            xhr.open("DELETE", "/deleteProfile/" + profileID, true);
                                                            window.location.href = "/family";
                                                            xhr.send(null);
                                                        }
                                                    }