doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Family
        link(rel='stylesheet', href='../css/family.css')
        link(href='../css/style.css', type='text/css', rel='stylesheet', media='all')
        link(href='../css/font-awesome.min.css', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='../css/profile/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../css/profile/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='../css/profile/profile-style.css')
        script(type='text/javascript', src='head.js')
    body
        .search
            .btn
                button(onclick="move()") Add Profile
                    script.
                        function move() {
                            window.location.href = '/uploadProfiles'
                        }
            .main
                .row
                    .col-md-12
                        section#cd-timeline-2.cd-container
                            -var count = profile.length
                            if count % 2 != 0
                                -for(var i=0;i+1<profile.length;i+=2)
                                    .cd-timeline-block
                                        .cd-timeline-img.cd-picture
                                            img(src='../images/camera-icon.png', alt='Picture')
                                        .cd-timeline-content.projects
                                            a(href='#' + 'gal' + i.toString())
                                                img.img-fluid(src='../images/oldman.jpeg', alt=' ')
                                            .project-content
                                                h2 #{profile[i].name}
                                                span #{profile[i].birthday}
                                    .cd-timeline-block
                                        .cd-timeline-img.cd-picture
                                            img(src='../images/camera-icon.png', alt='Picture')
                                        .cd-timeline-content.projects
                                            a(href='#' + 'gal' + (i+1).toString())
                                                img.img-fluid(src='../images/oldman.jpeg', alt=' ')
                                            .project-content
                                                h2 #{profile[i+1].name}
                                                span #{profile[i+1].birthday}
                                    div(id='gal' + i.toString()).popup-effect.animate
                                        .popup
                                            img.img-fluid(src='../images/oldman.jpeg', alt='Popup Image')
                                            p Name: #{profile[i].name}
                                            p Birthday: #{profile[i].birthday}
                                            p.editContent.mt-4
                                                | Description: #{profile[i].description}
                                            p.editContent.mt-4
                                                | Life story: #{profile[i].life_story}
                                            a.close(href='#gallery') ×
                                            button(id="btn1") Edit
                                            script var profileID = {profile[i].id}
                                            button(id = "btn2" onclick=`deleteProfile(${JSON.stringify(profile[i].id)})`) Delete
                                                script.
                                                    function deleteProfile(profileID) {
                                                        if (confirm("Are you sure to delete this profile?")) {
                                                            var xhr = new XMLHttpRequest();
                                                            xhr.open("DELETE", "/deleteProfile/" + profileID, true);
                                                            window.location.href = "/family";
                                                            xhr.send(null);
                                                        }
                                                    }
                                    div(id='gal' + (i+1).toString()).popup-effect.animate
                                        .popup
                                            img.img-fluid(src='../images/oldman.jpeg', alt='Popup Image')
                                            p Name: #{profile[i+1].name}
                                            p Birthday: #{profile[i+1].birthday}
                                            p.editContent.mt-4
                                                | Description: #{profile[i+1].description}
                                            p.editContent.mt-4
                                                | Life story: #{profile[i+1].life_story}
                                            a.close(href='#gallery') ×
                                            button(id="btn1") Edit
                                            script var profileID = {profile[i+1].id}
                                            button(id = "btn2" onclick=`deleteProfile(${JSON.stringify(profile[i+1].id)})`) Delete
                                                script.
                                                    function deleteProfile(profileID) {
                                                        if (confirm("Are you sure to delete this profile?")) {
                                                            var xhr = new XMLHttpRequest();
                                                            xhr.open("DELETE", "/deleteProfile/" + profileID, true);
                                                            window.location.href = "/family";
                                                            xhr.send(null);
                                                        }
                                                    }
                                .cd-timeline-block
                                    .cd-timeline-img.cd-picture
                                        img(src='../images/camera-icon.png', alt='Picture')
                                    .cd-timeline-content.projects
                                        a(href='#' + 'gal' + (count-1).toString())
                                            img.img-fluid(src='../images/oldman.jpeg', alt=' ')
                                        .project-content
                                            h2 #{profile[count-1].name}
                                            span #{profile[count-1].birthday}
                                div(id='gal' + (count-1).toString()).popup-effect.animate
                                    .popup
                                        img.img-fluid(src='../images/oldman.jpeg', alt='Popup Image')
                                        p Name: #{profile[count-1].name}
                                        p Birthday: #{profile[count-1].birthday}
                                        p.editContent.mt-4
                                            | Description: #{profile[count-1].description}
                                        p.editContent.mt-4
                                            | Life story: #{profile[count-1].life_story}
                                        a.close(href='#gallery') ×
                                        button(id="btn1") Edit
                                        script var profileID = {profile[count-1].id}
                                        button(id = "btn2" onclick=`deleteProfile(${JSON.stringify(profile[count-1].id)})`) Delete
                                            script.
                                                function deleteProfile(profileID) {
                                                    if (confirm("Are you sure to delete this profile?")) {
                                                        var xhr = new XMLHttpRequest();
                                                        xhr.open("DELETE", "/deleteProfile/" + profileID, true);
                                                        window.location.href = "/family";
                                                        xhr.send(null);
                                                    }
                                                }
                            else
                                -for(var i=0;i+1<profile.length;i+=2)
                                    .cd-timeline-block
                                        .cd-timeline-img.cd-picture
                                            img(src='../images/camera-icon.png', alt='Picture')
                                        .cd-timeline-content.projects
                                            a(href='#' + 'gal' + i.toString())
                                                img.img-fluid(src='../images/oldman.jpeg', alt=' ')
                                            .project-content
                                                h2 #{profile[i].name}
                                                span #{profile[i].birthday}
                                    .cd-timeline-block
                                        .cd-timeline-img.cd-picture
                                            img(src='../images/camera-icon.png', alt='Picture')
                                        .cd-timeline-content.projects
                                            a(href='#' + 'gal' + (i + 1).toString())
                                                img.img-fluid(src='../images/oldman.jpeg', alt=' ')
                                            .project-content
                                                h2 #{profile[i + 1].name}
                                                span #{profile[i + 1].birthday}
                                    div(id='gal' + i.toString()).popup-effect.animate
                                        .popup
                                            img.img-fluid(src='../images/oldman.jpeg', alt='Popup Image')
                                            p Name: #{profile[i].name}
                                            p Birthday: #{profile[i].birthday}
                                            p.editContent.mt-4
                                                | Description: #{profile[i].description}
                                            p.editContent.mt-4
                                                | Life story: #{profile[i].life_story}
                                            a.close(href='#gallery') ×
                                            button(id="btn1") Edit
                                            script var profileID = {profile[i].id}
                                            button(id = "btn2" onclick=`deleteProfile(${JSON.stringify(profile[i].id)})`) Delete
                                                script.
                                                    function deleteProfile(profileID) {
                                                        if (confirm("Are you sure to delete this profile?")) {
                                                            var xhr = new XMLHttpRequest();
                                                            xhr.open("DELETE", "/deleteProfile/" + profileID, true);
                                                            window.location.href = "/family";
                                                            xhr.send(null);
                                                        }
                                                    }
                                    div(id='gal' + (i+1).toString()).popup-effect.animate
                                        .popup
                                            img.img-fluid(src='../images/oldman.jpeg', alt='Popup Image')
                                            p Name: #{profile[i+1].name}
                                            p Birthday: #{profile[i+1].birthday}
                                            p.editContent.mt-4
                                                | Description: #{profile[i+1].description}
                                            p.editContent.mt-4
                                                | Life story: #{profile[i+1].life_story}
                                            a.close(href='#gallery') ×
                                            button(id="btn1") Edit
                                            script var profileID = {profile[i+1].id}
                                            button(id = "btn2" onclick=`deleteProfile(${JSON.stringify(profile[i+1].id)})`) Delete
                                                script.
                                                    function deleteProfile(profileID) {
                                                        if (confirm("Are you sure to delete this profile?")) {
                                                            var xhr = new XMLHttpRequest();
                                                            xhr.open("DELETE", "/deleteProfile/" + profileID, true);
                                                            window.location.href = "/family";
                                                            xhr.send(null);
                                                        }
                                                    }